$max-width: 1000px;
$primary-color: #387adf;
$secondary-color: #808000;
$third-color: #ffd180;
$fourth-color: #4b004b;
$fifth-color: #ffff80;
$sixth-color: #001f3f;
$seventh-color: #008080;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/homeee.png");
$bg-color1: #f0f3ff;
